<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div style="text-align:center" class="wrapper">
  <h1>
    {{ title }}
  </h1>
  <mat-card fxLayoutAlign="center center">
    <div *ngIf="calendarOptions" class="calendar">
      <ng-fullcalendar #ucCalendar
        [options]="calendarOptions"
        (dayClick)="addEvent($event.detail)"
        (eventClick)="updateEvent($event.detail)"
        [(eventsModel)]="events"></ng-fullcalendar>
    </div>
  </mat-card>
</div>
