<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions"
    (eventDrop)="updateEvent($event.detail)"
    (eventResize)="updateEvent($event.detail)"
    (clickButton)="clickButton($event.detail)"
    [(eventsModel)]="events"></ng-fullcalendar>
    <button mat-buton (click)="modal()"> teste modal</button>
</div>
<button (click)="getEvents()">get data</button>
</div>
