<h2>Prise de rendez-vous</h2>
<form [formGroup]="rendezVousForm" (ngSubmit)="submit()">
  <input type="text" name="firstname" formControlName="firstName" required>
  <input type="text" name="lastname" formControlName="lastName" required>
  <input type="text" name="sujet" formControlName="sujet" required>
  <input type="text" name="societe" formControlName="societe" required>
  <input type="date" name="debut" formControlName="debut" required>
  <input type="date" name="fin" formControlName="fin" required>
  <button tyoe="submit" mat-button>Proposer le rendez-vous</button>
  <button mat-button [disabled]="!rendezVousForm.valid">Annuler</button>
</form>
