<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card [routerLink]="['/calendar/1']">
      <div fxLayoutAlign="center center">Société 1</div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/calendar/2']">
      <div fxLayoutAlign="center center">Société 2</div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/calendar/3']">
      <div fxLayoutAlign="center center">Société 3</div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/calendar/4']">
      <div fxLayoutAlign="center center">Société 4</div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
